.navbar {
    background-color: var(--background);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.mike {
    color: var(--secondary);
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

.dev {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-items {
    color: var(--foreground);
    list-style: none;
    gap: 1rem;
    display: none;
    flex-direction: column;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}

.nav-link {
    color: var(--secondary);
    text-decoration: none;
    font-size: 1rem;

    @media screen and (max-width: 768px) {
        display: none;
        flex-direction: row;

    }
}

.nav-link:hover {
    color: var(--primary);
}