/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: #121212;
    color: white;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 12;
    margin-top: 1rem;

}

.hero {
    text-align: center;
    margin-bottom: 30px;
    border: 4px dashed white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-wrap: nowrap;
}

.companyImage {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.2rem;
    color: #bbb;
}

.sectionTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
}

.screenshotGrid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

.screenshotItem {
    width: 45%;
}

.skillsList,
.accomplishmentList {
    list-style-type: none;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-items: end;
    height: 'auto'
}

.skillsList li,
.accomplishmentList li {
    margin-bottom: 10px;
}

.socialLinks {
    display: flex;
    justify-content: end;
    text-align: right;

    gap: 15px;
}

.socialLinks a {
    color: #1e90ff;
    text-decoration: none;
}

.socialLinks a:hover {
    text-decoration: underline;
}